.Image{
    margin-top: 100px;
    margin-bottom: 140px;
}
.form-group{
    display: inline-flex;
    margin-bottom: 30px;
}
.image-container{
    position: relative;
    margin-bottom: 25px;
}
.image-container button{
    position: absolute;
    top: -14px;
    left: 85%;
}
.image-container img{
    width: 100%;
    height: 120px;
    object-fit: cover;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 7px;
}
.upload-btn-wrapper button{
    cursor: pointer;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 34px;
    width: 102px;
}
.successMesssage{
    background: #5CB85C;
    color: white;
    padding: 7px;
    transition: all 0.5s ease-in-out;
    margin-bottom: 20px;
    margin-top: 20px
}
.errorMesssage{
    background: #D9534F;
    color: white;
    padding: 7px;
    transition: all 0.5s ease-in-out;
    margin-bottom: 20px;
    margin-top: 20px;
}